{% extends "layout.html" %}

{% block title %}
    Rejestracja
{% endblock %}

{% block main %}

<h1>Rejestracja</h1>

    <form action="/register" method="post">
        <div>
        <label for="email">Email</label>
        <input 
            type="email" 
            id="email" 
            name="email" 
            required
        >
    </div>

    <div>
        <label for="password">Hasło</label>
        <input 
            type="password" 
            id="password" 
            name="password" 
            required
        >

        <input type="checkbox" onclick="showPassword('password')">Pokaż hasło
    </div>

    <div>
        <label for="password_confirm">Powtórz hasło</label>
        <input 
            type="password" 
            id="password_confirm" 
            name="password_confirm" 
            required
        >

        <input type="checkbox" onclick="showPassword('password_confirm')">Pokaż hasło
    </div>
        <button class="btn btn-primary" type="submit">Zarejestruj się</button>
    </form>

    <p>
        Masz już konto?
        <a href="/login">Zaloguj się</a>
    </p>
{% endblock %}

{% block scripts %}

    <script>
        function showPassword(id) {
            var x = document.getElementById(id);
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
            }
    </script>

{% endblock %}
